.content, .properties {
    color: grey;
    font-size: 10pt;
    padding-bottom: 10px;
}

.notice {
    background: #9BC771;
    text-align: center;
    width: 100%;
}

.delete {
    background: red;
    text-align: center;
    width: 100%;
}